{:aliases {:uberjar {:extra-deps {uberdeps {:mvn/version "0.1.4"}}
                     :main-opts  ["-m" "uberdeps.uberjar"
                                  "--target" "target/hello-world.jar"
                                  "--level" "error"]}}

 :deps    {org.clojure/clojure {:mvn/version "1.10.1"}
           aleph               {:mvn/version "0.4.7-alpha5"}}

 :paths   ["src"]}
